---

tools:
  php_cs_fixer:
    bin_path: "vendor/bin/php-cs-fixer"
    config_path: "./.php_cs.dist"
    verbose: true
    dry_run: true
    stop_on_violation: false
    use_cache: false
    allow_risky: false
    paths_to_scan:
      - "app/*"
      - "bin/*"
      - "bootstrap/app.php"
      - "config/*"
      - "hooks/*"
      - "src/*"
      - "tests/*"
      - ".php_cs.dist"
      - "git-review"

reviews:
  commits:
    recommended_max_commits: 10
    subject:
      max_length: 60
      capitalised: true
      no_full_stop: true
      imperative_check: true
    body:
      wrapped_line_length: 72
      recommended_min_characters: 30 # use to explain the why behind a commit's existence
      issue_reference:
        pattern: ""
        error_message:
    laravel:
      enabled: false
      uses_migrations: true
      keep_timestamps_up_to_date: true
