<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <!-- Test suites -->
    <testsuites>

        <testsuite name="unit">
            <directory>tests/unit/</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>tests/functional/</directory>
        </testsuite>

    </testsuites>

    <!-- Coverage filter -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="NunoMaduro\Collision\Adapters\Phpunit\Listener"/>
    </listeners>

    <!-- Coverage reporting -->
    <logging>

        <log type="coverage-text"
             target="php://stdout" />

        <log type="coverage-html"
             target="build/coverage/" />

    </logging>

</phpunit>
